.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 40px 0;
    @include mobile{
        padding: 0 15px;
    }
    &__nav{
        display: flex;
        align-items: center;
        gap: 40px;
        @include mobile{
            display: none;
        }
    }
}

.logo{
    font-size: 0px;
}
.spot-menu{
    @include position(left,0,top,0);
    position: absolute;
    // left: 0;
    // right: 0;
    width: 100%;
    
    padding: 0 40px;
    box-sizing: border-box;
    border-bottom: 1px solid $greye7;
    @include mobile{
        position: static;
        border: none;
        padding: 0;
        a,
        button{
            width: 56px;
            height: 45px;
            
        }
        &__cart a{
            @include bg("ico_cart.png", center);
        }
        &__mypage a{
            @include bg("ico_mypage.png", center);

        }
        span{
            @include hide;
        }
        
    }
    nav{
        display: flex;
        justify-content: flex-end;
    }
    ul{
        display: flex;
        
    }
    li{
        display: flex;
        align-items: center;
        height: 30px;
        @include mobile{
            height: auto;
            &.hidden{
                display: none;
            }
        }
        +li{
            &::before{
                content: "";
                margin: 0 20px;
                width: 2px;
                height: 10px;
                background-color: $greydd;
                @include mobile{
                    display: none;
                }
            }
        }
    }
    a{
        font-size: 14px;
        color: $grey6f;
    }
    [aria-hidden]{
        display: none;

        @include mobile{
            button{
                @include bg("ico_menu.png", center);

            }
            display: flex;
        }
    }
    
}

