//색상경로
$purple:#6024c6;
$grey28:#282a2e;
$grey96:#96989c;
$greye7:#e7e9ec;
$grey6f:#6f736f;
$greydd:#dddfe2;
$greyf6:#f6f8fb;
$white:#fff;
$black:#000;

//이미지경로
$imageUrl: "../images/";



//반응형기준
$web:1024px;